.container div {
	width: 100px;
	height: 100px;
	text-align: center;
	border: 4px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	justify-content:space-between;
}

body{
	padding: 0px 200px;
}